<%= turbo_frame_tag "articles", data: { turbo_action: :advance } do %>
  <h1>Editing article</h1>

  <%= render "form", article: @article %>

  <br>

  <div>
    <%= link_to "Show this article", @article, data: { turbo_frame: "articles" } %> |
    <%= link_to "Back to articles", articles_path, data: { turbo_frame: "articles" } %>
  </div>
<% end %>
