<%= turbo_frame_tag "articles" do %>
  <h1>New article</h1>

  <%= render "form", article: @article %>

  <br>

  <div>
    <%= link_to "Back to articles", articles_path, data: { turbo_frame: "articles" } %>
  </div>
<% end %>
